.my {
  color: #f16092;
  font-family: Georgia, Serif;
  line-height: 1.3em;
}



<!DOCTYPE html>
<html lang="en">
<head>
    <link href="index.css" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>мой сайт</title>
    
</head>
<body>
<h1>главная</h1>
   <nav>
    <ul>
        <li>
            <a href="index.html">главная</a>
        </li> 
        <li>
            <a href="contacts.html">контакты</a>
        </li> 
        <li>
            <a href="about.html">о себе</a>
        </li>  
    </ul>
   </nav>

</body>
</html>