@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
  background-color: #f1f1f1;
  color: #0f141e;

  font-size: 20px;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;

  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color:blue;
}

a:visited {
  color:gray
}
.me {
  width:200px;
  border-radius: 28px;
  box-shadow: 18px 15px 8px 0px rgba(34, 60, 80, 0.2);
}

.info {
  margin-bottom: 20px;
}
.info p {
  color: #86898f;
  margin: 0;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
/*text-transform: lowercase;*/
/*letter-spacing: 15px;*/
/*word-spacing: 42px;*/
} 
.container {
width: 75%;
margin: auto;
}
/*.social {
  background: green;
 padding: 15px;
 margin: 5px;

 border: 5px solid red;
 border-bottom-style:dotted;
 border-top-width:15px;
 border-right-color:blue;
}*/

 /*.box-model > div {
   float: left;
background: #000;
height: 200px;
width: 25%;
box-
 }
}*/

.bg-yellow{
  background: #fff9dc;
}
.bg-green {
  background: #e5ffe7;
}

.bg-red{
  background: #ffe5e5;

}

.card{
  padding: 15px 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.card h2 {
margin-bottom: 10px;
}

.list {
  padding: 0 20px;
}

.list li {
 color: #86898f; 
 margin-bottom: 10px;
}
.table {
  width: 100%;
}

.table td {
  margin-bottom: 10px;
}